#accordeon {
	li {
		color: $black;
	}
	li.current {
		background: $red;
		color: $white;
		a {
			color: $white;
		}
	}
}

.playbook-container a {
	color: #000;
}

.button a {
	color: #fff;
}

.fact-box {
	background: #f2f2f2;
    padding: 5px 40px;
}

.full-img {
    box-shadow:inset 0 0 0 2000px rgba(255,255,255,0.3);
}