---
layout: default
---

<header class="about-header">
    <section class="clearfix full-img" style="background-image: url('/assets/img/about-header.jpg');">
        <div class="grid spacing-copy movie-content-box">
            <div class="col-4-12 no-padding tablet-col-1-2">
                <h2 class="black">About us</h2>
                <h6>{{site.data.contentful.spaces.proddata.webPagesContent[0].aboutUsHeader}}</h6> 
                <p class="button gold"><a href="">Join the athletes Playbook</a></p>
            </div>
            <img src="/assets/img/play-button.svg" class="play-btn">
        </div>
    </section>
</header>

<section class="spacing clearfix">
    <div class="grid">
        <div class="col-8-12 center-text center mission-box">
            <p class="caps">Our mission</p>
            <h4>{{site.data.contentful.spaces.proddata.webPagesContent[0].aboutUsOurMission}}</h4>
        </div>
    </div>
</section>
<section class="spacing-copy bg-beige clearfix">
    <div class="grid">
        <h3 class="center-text">A Letter from the CEO</h3>
        <div class="col-3-12 tablet-col-1-3">
            <div class="round author-thumb push-right" style="background-image: url('{{site.data.contentful.spaces.proddata.webPagesContent[0].aboutUsCeoPicture.url}}'); margin-top:20px;"></div>
        </div>
        <div class="col-9-12 tablet-col-1-2">
            <p class="big no-margin-top">
            {{site.data.contentful.spaces.proddata.webPagesContent[0].aboutUsALetterFromTheCeo | markdownify }}
            </p>
        </div>
    </div>
</section> 
<section class="spacing-copy clearfix">
    <h3 class="center-text">The Athletes Council</h3>
    <div class="grid no-padding">
        <div class="col-10-12 center headshots-all">
            {% assign sorted_athletes = site.data.contentful.spaces.proddata.athletesCouncil | sort:"order" %}
            {% for athlete in sorted_athletes %}
                <div class="col-1-4 tablet-col-1-2">
                    <div class="each-shot" style="background-image: url('{{athlete.picture.url}}');"></div>
                    <p class="bold caps no-margin-bottom">{{athlete.name}}</p>
                    <p class="no-margin-top">{{athlete.title}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="clearfix leads-all">
        <div class="grid spacing-copy border-top">
         <h3 class="center-text">The Council Team Leaders</h3>

            {% assign sorted_leaders = site.data.contentful.spaces.proddata.councilTeamLeaders | sort:"order" %}
            {% for leader in sorted_leaders %}
            <div class="grid">
                <div class="leader">
                    <div class="col-3-12 tablet-col-1-3">
                        <div class="push-right lead-shot" style="background-image: url('{{leader.picture.url}}');"></div>
                    </div>
                    <div class="col-9-12 tablet-col-1-2">
                        <p class="bold caps no-margin-top">{{leader.name}},</p><p>{{leader.title}}</p>
                        {{ leader.bio | markdownify }}
                    </div>
                <div style="clear:both;"></div>
                </div>
            </div>
            {% endfor %}


        </div> 
</section>
<!--
<section class="spacing-copy bg-beige clearfix subscribe-box">
    <div class="grid">
        <h3 class="center-text no-margin-top">Subscribe to The Athletes Playbook</h3>
        <div class="col-4-12 center-text tablet-col-1-3">
            <div class="push-right subscribe-cta">
                <p>All for only</p>
                <h5 class="no-margin-top">&#36;<strong>4.99</strong> / mo</h5>
                <p class="button red"><a href="">Subscribe</a></p>
            </div>
        </div>
        <div class="col-1-2 tablet-col-1-60">
            <ul class="no-margin-top">
                <li><img src="/assets/img/checkmark.svg"><p class="no-margin-top">Unlock the keys and get full access to The Athletes Playbook in-depth value-added content (offered only through our playbook areas)</p></li>
                <li><img src="/assets/img/checkmark.svg"><p>Connect with a community of elite athletes and proven winners</p></li>
                <li><img src="/assets/img/checkmark.svg"><p>Learn valuable insights directly from The Athletes Council members</p></li>
                <li><img src="/assets/img/checkmark.svg"><p>Earn rewards for high achievement in sports, school and community leadership</p></li>
                <li><img src="/assets/img/checkmark.svg"><p>Earn discounts to use at The Athletes Playbook Store and offline events</p></li>
                <li><img src="/assets/img/checkmark.svg"><p>Become part of a growing community and customize your own “playbook” page</p></li>
                <li><img src="/assets/img/checkmark.svg"><p>Gain access to membership and join The Athletes Playbook team (for subscribers only)</p></li>
            </ul>
        </div>
    </div>
</section> 
-->

<script type="text/javascript">
    var aboutVideoId = "{{site.data.contentful.spaces.proddata.webPagesContent[0].aboutPageYoutubeVideoId}}"
</script>