---
layout: default
---

<div class="homepage"> 
<header>
    <section class="clearfix full-img aligner" style="background-image: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=900%C3%97500&w=900&h=500');">
        <div class="grid spacing-copy">
            <div class="col-4-12 no-padding">
                <h2 class="black">Paving the Way</h2>
                <h6>Three Generations of athletes and the many roads to success in sports and life.</h6>
                <p>An original production by The Athletes Council</p>
                <p class="button red"><a href="">View more</a></p>
            </div>
        </div>
    </section>
</header>
<section class="section-copy center-text">
    <h3>Top stories</h3>
    <div class="topStories">

    {% for story in site.data.contentful.spaces.proddata.story %}
        {% if story.isTopStory == true %}
        <div class="each-story">
            <img src="{{story.heroImage.url}}" alt="{{story.heroImage.title}}">
            <div class="slider-overlay">
                <div class="overlay-content">
                    <p class="caps">{{story.category}}</p>
                    <h4>{{story.title}}</h4>
                    <h2 class="t-font-smaller black">LENNY WILKINS</h2>
                    <p>{{story.subtitle}}</p>
                    <a href="#"><p class="color-red">Read full story</p></a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    </div>
</section>
<section class="subscribe-form-box">
    <div class="grid">
        <div class="subscribe-form col-8-12 center no-padding">
           <form action="">
                <div class="form-container">
                    <h4 class="center-text color-white no-margin black">We bring the best to you</h4>
                    <p class="color-white center-text">Subscribe to our newsletter</p>
                    <input type="text" placeholder="Name" name="name" required>
                    <input type="email" placeholder="example@mail.com" name="email" required>
                    <p class="button bg-black"><a href="">Subscribe</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
<section class="spacing-copy">
    <div class="grid news-container">
        <div class="col-4-12">
            {% include sidebar.html %}
        </div>
        <div class="col-8-12 story-bar">
        {% for story in site.data.contentful.spaces.proddata.story %}
            {% if story.isTopStory == false %}
                <a href="/story/{{story.title |slugify }}">
                    <div class="col-1-2 story-item no-padding">
                        <div class="each-news" style="background-image: url('{{story.heroImage.url}}');">
                            <div class="caption">
                                {%if story.category%}<p class="button tag"><a href="#">{{ story.category }}</a></p>{%endif%}
                                <h4>{{story.title}}</h4>
                            </div>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
            <div class="center-text news-btns">
                <p class="button red"><a href="">See all stories</a></p>
                <p class="button gold"><a href="">Subscribe</a></p>
            </div>
        </div>
    </div>
</section>
<section class="bg-beige playbook-container spacing-copy">
    <div class="grid">
        <h3 class="center-text no-margin-top">From the Playbook</h3>
        {% for playbook in site.data.contentful.spaces.proddata.playbook %}
            {% if playbook.isFeatured == true %}

                <div class="col-1-2">
                    <div class="playbook-img" style="background-image: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150');"></div>
                </div>
                <div class="col-1-2">
                    <p class="caps no-margin-top">LESSONS LEARNED</p>
                    <h3 class="bold">Smashing through the glass</h3>
                    <p>Tell Anna Stone she can’t do it. Then sit back and watch her excel. From football to finances, she is redefining what it means to be a modern woman.</p>
                </div>

            {% endif %}
        {% endfor %}
    </div>
    <div class="grid">
            {% for playbook in site.data.contentful.spaces.proddata.playbook %}
                {% if playbook.isFeatured != true %}
 
                <div class="col-1-4">
                    <div class="playbook-img" style="background-image: url('{{playbook.image.url}}');"></div>
                </div>
                <div class="col-1-4">
                    <p class="caps no-margin-top">{{playbook.category}}</p>
                    <h4>{{playbook.title}}</h4>
                    <p class="small">{{playbook.author}}</p>
                </div>
                {%endif%}
            {% endfor %}
        <div style="clear:both;"></div>
    </div>
    <div class="center-text"><p class="button red"><a href="">Start your own playbook</a></p></div>
</section>
<section class="spacing-copy">
<div class="grid">
    <div class="sliderQuotes col-11-12 center no-padding">
        {% for quote in site.data.contentful.spaces.proddata.quote %}
            <div class="each-quote">
                <div class="col-1-2">
                    <h5 class="italic center-text">“{{quote.quoteText}}“</h5>
                    <p class="caps bold center-text">{{quote.author}}</p>
                    <p class="center-text">{{author.authorTitle}}</p>
                </div>
                <div class="col-1-2">
                    <img class="round" src="{{quote.picture.url}}">
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</section>
<section>
    <div class="partners">
        <div class="col-1-3 bg-gray">
             <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250">
        </div>
        <div class="col-1-3 bg-gray">
             <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250">
        </div>
        <div class="col-1-3 bg-gray">
             <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250">
        </div>
        <div class="col-1-3 bg-gray">
             <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250">
        </div>
        <div class="col-1-3 bg-gray">
             <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250">
        </div>
        <div class="col-1-3 bg-gray">
             <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250">
        </div>
    </div>
</section>
</div>

